.root {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 0 #0000001A;
  border-radius: 10px;
  background: #FFF;
  display: grid;
  grid-template-columns: 293px 1px 1fr;
  grid-template-rows: 1fr;
}

.divider {
  background: #DEDEDD;
}