.root {
  width: 100%;
  height: 70px;
  box-shadow: 0 0 10px 0 #0000001A;
  background: #FFF;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;

  &_selected {
    box-shadow: none;
    cursor: default;
  }
}

.selectedBox {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  border: 1px solid #E0E0E0;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity .2s;

  &_visible {
    opacity: 1;
  }
}

.imageBox {
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex-shrink: 0;
}

.dataBox {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding-left: 15px;
  border-left: 1px solid #E0E0E0;
  transition: background .2s;

  &_selected {
    background: #E0E0E0;
  }
}

.textHeading {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  color: #333333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 142px;
}

.textDetails {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: #76787D;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 142px;
}